@charset "UTF-8";
.booking_b{
height : 50px;
width : 100px;
border-radius: 5px;
background:#4CAF50;
font-weight: bold;
font-size : 15px;
}

.booking_b:hover{

background: #3e8e41;
}
 .select{ /*상단 select 박스*/
     	 width: 80px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 15px;
        margin-left: 20px;
}
 .select1{ /*검색창 select박스*/
     	width: 100px;
        height: 30px;
        border: none;
        border-radius: 5px;
     background-color: #c8c8c8;
        color: black;
        font-size: 15px;
        margin-left: 20px;
        text-align:center;
}

.inputtext{/*검색창 text박스*/
	   width: 160px;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid lightgray;
        margin-bottom: 20px;
  
	
}
.findbutton{/*검색버튼*/
	    width: 50px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color:#464646;
        color: white;
        font-size: 16px;
      }
.findbutton:hover {
    background-color: #323232;
}
.writebutton{/*글쓰기 버튼*/
		width: 50px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: #4646CD;
        color: white;
        font-size: 16px;
      }
.writebutton:hover {
    background-color: #0000CD;
}
.listbutton{/*글목록 버튼*/
		width: 50px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: #464646;
        color: white;
        font-size: 16px;
      }
.listbutton:hover {
    background-color: #000000;

}

.pagebutton{/*페이지 버튼*/
		width: 25px;
        height: 20px;
        border: none;
        border-radius: 5px;
        background-color: #dcdcdc;
        color: black;
        font-size: 16px;
      }
.pagebutton:hover {
    background-color: #828282;

}

.prbutton{/*해당페이지 눌렀을때*/
		width: 25px;
        height: 20px;
        border: none;
        border-radius: 5px;
        background-color: #464646;
        color: white;
        font-size: 16px;
      }


.nextbutton{/*다음*/
		width: 40px;
        height: 25px;
        border: none;
        border-radius: 5px;
        background-color: #464646;
        color: white;
        font-size: 16px;
      }
.nextbutton:hover {
    background-color: #A05C37;
       color: white;
}
.onebutton{/*처음,끝*/
		width: 40px;
        height: 25px;
        border: none;
        border-radius: 5px;
        background-color: #464646;
        color: white;
        font-size: 16px;
      }
.onebutton:hover {
    background-color: #A05C37;
            color: white;
    
}
