@charset "UTF-8";
* {
	margin: 0px auto;
	padding: 0px;
}

header ul {
	list-style: none;
}
body{
padding: 0px; margin: 0px;
background-image: url(/seesc/img/backimg.gif);
background-size: cover;
color : white;
background-attachment: fixed;
	
}

.header a {
	text-decoration: none;
	color: white;
}
.headerback {
	width: 1200px;
	height: 150px;
	margin: 0px auto;
	position: relative;
}

#mainlogin {
	position: absolute;
	top: 20px;
	right: 50px;
	color: white;
	margin: 0px auto;
}


#mainlogin :hover{
	color: yellow;
	letter-spacing: 5px;
	font-weight: bold;
	zoom:1.02;
	
}
#mainlogo {
	position: absolute;
	bottom: 15px;
	left: 70px;
	margin: 0px auto;
}
#mainlogo :hover{
	zoom : 1.03;
	filter: contrast(500%)
		
}
.dropdown {
	position: relative;
	display: inline-block;
	top: 90px; left : 330px;
	margin: 0px auto;

}

.dropbtn {
	border-radius: 3px;
	font-weight: bold;
	padding: 9px;
	width: 140px;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	margin: 0px auto;
	color: #65FFBA;
}
.dropbtn :hover{
	letter-spacing: 5px;
	color :yellow;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 2; /*다른 요소들보다 앞에 배치*/
	background-color: black;
	min-width: 140px;
	text-align: center;
	margin: 0px auto;
	
}

.dropdown-content a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 15px;
	padding: 18px 32px;
	text-align: center;
	
	
	
}

.dropdown-content a:hover {
	background-color: #48DAD2;
	color : black;
	font-weight: bold;
	
}

.dropdown:hover .dropdown-content {
	display: block;
}


section {
width: 1200px;
margin: 0px auto;
}
.footerback{
	background-color: black;
	
}
footer {
	position: relative;
	width: 1200px;
	height: 150px;
	left: 70px;
	margin: 0px auto;
	color: white;
}

footer a {
	text-decoration: none;
	color: white;
}
#footlogo {
	position: absolute;
	top: 20px;
	right: 110px;
	margin: 0px auto;
}

#footlogo :hover{
	zoom : 1.03;

	}
#snsLogo {
	position: absolute;
	bottom: 20px;
	left: 230px;
	margin: 0px auto;
}
#snsLogo :hover{
		zoom : 1.03;

	}
