@charset "UTF-8";
.tbutton {
	display: inline-block;
	width: 150px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
}
.tbutton::before,
.tbutton::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.tbutton,
.tbutton::before,
.tbutton::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}


.tbutton {
	background-color: #333;
	color: #fff;
}
.tbutton:hover {
	letter-spacing: 5px;
}
.rbutton {
	display: inline-block;
	width: 150px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
}
.rbutton::before,
.rbutton::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.rbutton,
.rbutton::before,
.rbutton::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}


.rbutton {
	background-color: #fff;
	color: #333;
}
.rbutton:hover {
	letter-spacing: 5px;
}

